---
layout: default
---
<!-- end full-header -->
  <section class="sub-header">
    <h5 class="page-title">NEWS</h5>
    <ul class="breadcrumb">
      <li><a href="{{ site.url }}">Home</a></li>
      <li><span class="active">News</span></li>
    </ul>
  </section>
  <!-- end sub-header -->
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="section-title"><span>01</span>RECENT NEWS</h4>
        </div>
        <!-- end col-12 -->
        <div class="col-md-9">
          {% for news in paginator.posts %}
          <div class="blog-post">
            <figure class="post-image"> <span class="post-date">{{ news.shorthand_date }}</span> <img src="{{ site.url }}/images/{{ news.news_image }}" alt="{{ news.title }}"></figure>
            <h3 class="post-title">{{ news.title }}</h3>
            <p class="post-text">{{ news.excerpt | strip_html | truncatewords: 30 }} </p>
            <a href="{{ news.url | prepend: site.url }}" class="post-link">READ ALL</a> </div>
          <!-- end blog-post -->
          {% endfor %}

          {% if paginator.total_pages > 1 %}
          <ul class="pagination">
            {% if paginator.previous_page %}
            <li> <a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}" aria-label="Previous"> <span aria-hidden="true"><i class="ion-arrow-left-b"></i></span> </a> </li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                 <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
              {% elsif page == 1 %}
                 <li><a href="{{ '/news' | prepend: site.url | replace: '//', '/' }}">{{ page }}</a></li>
               {% else %}
                <li> <a href="{{ site.url }}/news/page{{ page}}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li> <a href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}" aria-label="Next"> <span aria-hidden="true"><i class="ion-arrow-right-b"></i></span> </a> </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
        <!-- end col-9 -->
        <div class="col-md-3">
          <aside class="news-sidebar">
            <div class="categories widget">
              <h4>CATEGORIES</h4>
              <ul>
                <li><a href="#">Transportation</a></li>
                <li><a href="#">Logistic</a></li>
                <li><a href="#">Packaging</a></li>
                <li><a href="#">Ground Shipping</a></li>
                <li><a href="#">Air Shipping</a></li>
                <li><a href="#">Sea Shipping</a></li>
              </ul>
            </div>
            <!--end widget -->
            <div class="recent-posts widget">
              <h4>LATEST NEWS</h4>
              <ul>
                <li>
                  <figure><img src="{{ site.url }}/images/news1.jpg" alt="Image"></figure>
                  <a href="#">Digital services used to be seen in this way</a></li>
                <li>
                  <figure><img src="{{ site.url }}/images/news2.jpg" alt="Image"></figure>
                  <a href="#">As a cost to be minimized by hiring </a></li>
                <li>
                  <figure><img src="{{ site.url }}/images/news3.jpg" alt="Image"></figure>
                  <a href="#">Compete with each other on price and quality</a></li>
                <li>
                  <figure><img src="{{ site.url }}/images/news4.jpg" alt="Image"></figure>
                  <a href="#">Large organizations spending less on their </a></li>
              </ul>
            </div>
            <!-- end widget -->
            <div class="gallery widget">
              <h4>GALLERY</h4>
              <ul>
                <li><a href="#"><img src="{{ site.url }}/images/news1.jpg" alt="Image"></a></li>
                <li><a href="#"><img src="{{ site.url }}/images/news2.jpg" alt="Image"></a></li>
                <li><a href="#"><img src="{{ site.url }}/images/news3.jpg" alt="Image"></a></li>
                <li><a href="#"><img src="{{ site.url }}/images/news4.jpg" alt="Image"></a></li>
              </ul>
            </div>
            <!-- end widget -->
            <div class="tags widget">
              <h4>NEWS TAGS</h4>
              <ul>
                <li><a href="#">Package</a></li>
                <li><a href="#">Box</a></li>
                <li><a href="#">Deliver</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Truck</a></li>
                <li><a href="#">Sea</a></li>
                <li><a href="#">Train</a></li>
                <li><a href="#">Logistic</a></li>
                <li><a href="#">Transport</a></li>
              </ul>
            </div>
            <!-- end widget --> 
          </aside>
          <!-- end news-sidebar --> 
        </div>
        <!-- end col-3 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>