<header class="full-header">
    <nav class="navbar navbar-default">
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs"> Now helping <span class="numbers">50</span> clients all over the world </div>
            <!-- end col-6 -->
            <div class="col-md-3 col-sm-2 col-xs-4">
              &nbsp;
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-4 col-xs-8"> <span itemprop="telephone" class="phone"><i class="ion-ios-telephone"></i> +63 32 511 6600 </span> </div>
            <!-- end col-3 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end container --> 
      </div>
      <!-- end top-bar -->
      <div class="container">
        <div class="navbar-header">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/images/logo.png" alt="Image"></a> </div>
            <!-- end col-5 -->
            <div class="col-md-3 col-sm-4 hidden-xs"> <i class="icon-global"></i>
              <h6>OPENING HOURS<br>
                <span itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
<span itemprop="dayOfWeek" itemscope itemtype="http://schema.org/DayOfWeek">
<span itemprop="name">MON-FRI</span> </span>09:00 - 18:00 </span></h6>
            </div>
            <!-- end col-2 -->
            <div class="col-md-3 col-sm-4 hidden-xs"> <i class="icon-map-pin"></i>
              <h6>OUR LOCATION<br>
                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="streetAddress">Unit 411 San Marino Residences, J. De Veyra St.</span>, 
<span itemprop="addressLocality">Cebu City</span>, 
<span itemprop="postalCode">6000</span>, 
<span itemprop="addressCountry">Philippines</span></span>
            </div>
            <!-- end col-2 -->
            <div class="col-md-3 hidden-sm hidden-xs"> <i class="icon-chat"></i>
              <h6>QUICK CONTACT<br>
                <span><a itemprop="email" href="mailto:emmanabayabay@yahoo.com&subject=[ercabayabay.com]Inquiry" class="email-btn">EMMAN@ERCABAYABAY.COM</a></span></h6>
            </div>
            <!-- end col-2 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end navbar-header -->
        <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav main-menu">
            <li><a href="{{ site.url }}/" class="transition">HOME</a></li>
            <li><a href="{{ site.url }}/aboutus/" class="transition">ABOUT US</a></li>
            <li><a href="{{ site.url }}/services/" class="transition">SERVICES</a></li>
            <li><a href="{{ site.url }}/news/" class="transition">NEWS</a></li>
            <li><a href="{{ site.url }}/contact/" class="transition">CONTACT US</a></li>
          </ul>
          <ul class="nav navbar-nav social-nav visible-lg visible-xs">
            <li><a href="{{ site.facebook }}" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="ion-social-facebook"></i></a></li>
            <li><a href="{{ site.twitter }}" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="ion-social-twitter"></i></a></li>
            <li><a href="{{ site.instagram }}" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="ion-social-instagram"></i></a></li>
          </ul>
          <ul class="nav navbar-nav icon-nav hidden-sm">
            <li><a href="javascript:void(0)" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
            <li><a href="javascript:void(0)" class="search-btn"><i class="ion-search"></i></a></li>
            <li class="search-box">
              <form>
                <input type="text" placeholder="Type here">
                <button type="submit"><i class="ion-chevron-right"></i></button>
              </form>
            </li>
          </ul>
        </div>
        <!-- end navbar-collapse --> 
      </div>
      <!-- end container --> 
    </nav>
  </header>