<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
<div class="soft-transition"></div>
<!-- end soft-transition -->
<div class="transition-overlay"></div>
<!-- end transition-overlay -->
<main itemscope itemtype="http://schema.org/LocalBusiness">
  {% include aside.html %}
  <!-- end side-box -->
  {% include header.html %}
  
  {{ content }}
  <!--<div class="application"> <img src="{{ site.url }}/images/app-mockup.jpg" alt="Image"> </div>
  -->{% include footer.html %}
</main>

<!-- JS FILES --> 
<script src="{{ site.url }}/js/jquery.min.js"></script> 
<script src="{{ site.url }}/js/bootstrap.min.js"></script> 
<script src="{{ site.url }}/js/waypoints.min.js"></script> 
<script src="{{ site.url }}/js/jquery.counterup.min.js"></script>
<script src="{{ site.url }}/js/slick.js"></script> 
<script src="{{ site.url }}/js/jquery.stellar.js"></script> 
{% if page.js.addGMaps %}
<script src="{{ site.url }}/js/bootstrap-select.js"></script> 
<script src="{{ site.url }}/js/bootstrap-datepicker.js"></script> 
 

<script src="{{ site.url }}/js/jquery.validate.min.js"></script> 
<script src="{{ site.url }}/js/jquery.form.js"></script> 
<script src="{{ site.url }}/js/contact-form.js"></script> 
<script src="{{ site.url }}/js/jquery.fancybox.js"></script> 


<script src="{{ site.url }}/js/masonry.min.js"></script> 
<script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBZw-Dyl7DgSwSOosaAIuwxnv0fqlLlPHU" type="text/javascript"></script>
{% endif %}
{% for js in page.js.files %}
<script src="{{ site.url }}/js/{{ js }}"></script> 
{% endfor %}
<script src="{{ site.url }}/js/scripts.js"></script>
{% include analytics.js.html %}
</body>
</html>

