---
layout: default
---
  <section class="sub-header">
    <h5 class="page-title">SERVICES</h5>
    <ul class="breadcrumb">
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><span class="active">SERVICES</span></li>
    </ul>
  </section>
  <!-- end sub-header -->
  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="section-title"><span>01</span>YOU GET THE BEST SERVICE</h4>
        </div>
        <!-- end col-12 -->
        <div class="col-md-9">
          {{ content }}
          <div class="row other-features">
            <div class="col-xs-12">
              <h4 class="section-title"><span>02</span> OTHER FEATURES</h4>
            </div>
            <!-- end col-12 -->
            <div class="col-xs-12"> <i class="ion-android-checkmark-circle"></i>
              <h5>IMPORT CUSTOMS CLEARANCE</h5>
              <p>We provide reliable and fast service in clearing importation in the <a href="{{ site.customs_site }}" >Bureau of Customs</a>.</p>
            </div>
            <!-- end col-12 -->
            <div class="col-xs-12"> <i class="ion-calculator"></i>
              <h5>CUSTOMS DUTIES COMPUTATION</h5>
              <p>For those who are not in a custom brokerage or import industry, computation for Customs Duties are complicated. There are a lot to consider and variables are constantly updating. We provide you Philippine customs duty computation. </p>
            </div>

            <!-- end col-12 -->
            <div class="col-xs-12"> <i class="ion-android-boat"></i>
              <h5>AIR & SEA TRANSPORTATION</h5>
              <p>We specialize in import customs clearance and tariff consultancy. We take care of your importation from documentation up to delivery.</p>
            </div>
            <!-- end col-12 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end col-9 -->
        <div class="col-md-3">
          <aside class="services-sidebar">
            <ul role="menu">
              <li class="current"><a href="#" class="transition">Tariff Classification and Consultation</a></li>
              <li><a href="#" class="transition">Custom Clearance</a></li>
              <li><a href="#" class="transition">Preparation and Filing of Import and Export Documents</a></li>
              <li><a href="#" class="transition">Domestic and International Shipping</a></li>
              <li><a href="#" class="transition">Customs Duties Computation</a></li>
              <li><a href="#" class="transition">Warehousing & Storage </a></li>
              <li><a href="#" class="transition">Transportation Regulations</a></li>
              <li><a href="{{ site.cyclenautical }}" class="transition">Cargo Trailers</a></li>
            </ul>
            <figure class="side-banner"><a href="#"><img src="{{ site.baseurl }}/images/side-image.jpg" alt="ERC Custom Brokerage Profile"></a></figure>
            <!-- end side-banner -->
            <div class="pdf-catalog"> <i class="icon-document"></i> <a href="#">DOWNLOAD PDF</a> </div>
            <!-- end pdf-catalog --> 
          </aside>
          <!-- end services-sidebar --> 
        </div>
        <!-- end col-3 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end services-->
